.program {
  display: flex;
  width: 100%;

  .programContainer {
    flex: 5;
    h2 {
      display: flex;
      align-items: center;
      padding: 18px;
      margin: 5px;
      font-weight: bold;
      font-size: 24px;
      color: rgb(101, 162, 233);
      // justify-content: center;
    }

    .Formfield {
      display: flex;
      justify-content: flex-start;
      -webkit-box-shadow: 2px 4px 7px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 7px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      margin-top: 30px;

      form {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 10px 0px;

        select {
          display: flex;
        //   display: block;
          width: 97%;
        //   height: 20%;
          height: calc(0.25rem + 40px);
          font-size: 1rem;
          font-weight: bold;
          line-height: 1;
          color: rgba(99, 96, 96, 0.97);
          padding: 10px;
          margin: 15px 0px;
          border-radius: 10px;
          border: 1px solid gray;

        }
        

        h1 {
          font-size: 22px;
          font-weight: bold;
          color: white;
          background-color: rgba(0, 0, 255, 0.801);
          height: 25px;
          padding: 10px;
          width: 95%;
          margin-top: 10px;
          border-radius: 20px;
        }

        button {
          width: 97%;
          height: 43px;
          padding: 10px;
          border: none;
          background-color: rgba(0, 0, 255, 0.637);
          color: whitesmoke;
          border-radius: 15px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
